// you can change colors here
$theme-color: #7f47dd;
$font-family-heading: 'var(--font-family)';
$font-family: '"Iosevka Etoile Web", "Sarasa Gothic CL", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", STHeiti, "Microsoft YaHei", SimSun, sans-serif';
$font-family-mono: 'var(--basefonts), monospace';
/* $font-family: '"Minion 3", "Noto Serif", "LXGW WenKai TC", serif'; */
