// you can change colors here
$theme-color: #7f47dd;
$vp-c-accent: #a07dde;
$vp-c-accent-bg: #a07dde;
$vp-c-accent-hover: #a07dde;
$vp-c-accent-soft: #62626218;
$font-family-heading: '"Inter Tight", var(--font-family)';
$font-family: '"Fira Sans", "Noto Sans", var(--cjkfonts), sans-serif';
$font-family-mono: 'var(--cjkfonts), monospace';
/* $font-family: '"Minion 3", "Noto Serif", "LXGW WenKai TC", serif'; */
$del-color: (
    light: #fbb,
    dark: #870000,
);
$ins-color: (
    light: #d4fcbc,
    dark: #63934d,
);
$orange: (
    light: #ae7400,
    dark: #fbae17,
);