// ==========================================
// 1. 基础 Theme & 颜色配置
// ==========================================
$theme-color: #7f47dd;
$vp-c-accent: #a07dde;
$vp-c-accent-bg: #a07dde;
$vp-c-accent-hover: #a07dde;
$vp-c-accent-soft: #62626218;

// ==========================================
// 2. 字体定义变量
// ==========================================
$font-family-heading: '"Inter Tight", var(--font-family)';
$font-family: '"Fira Sans", "Noto Sans", var(--cjkfonts), sans-serif';
$font-family-mono: 'var(--cjkfonts), monospace';

// ==========================================
// 3. 状态与语义对比色 Map (优化变量名)
// ==========================================
$del-color: (
  light: #fbb,
  dark: #870000,
);

$ins-color: (
  light: #d4fcbc,
  dark: #63934d,
);

// 改名：由 $orange 语义化为 $warning-color
$warning-color: (
  light: #fbae17,
  dark: #c9970f,
);